body{background-color: black;
margin: 0px;}
h1{
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
img{
    width: 100%;
    border: 5px solid white;
}
p{
    color: white;
    text-align: center;
}
div{
    margin-top: 100px;
    width: 50%;
margin-left: 25%;
text-align: center;
}